  <!-- GENERAL DATA RATING PANEL -->
<!-- TITLE & BUTTONS -->
<span class="title">GENERAL DATA RATING</span>
<button type="button" class="btn btn-primary pull-right">SAVE</button>
<button type="button" class="btn btn-default pull-right">DELETE</button>
<button type="button" class="btn btn-default pull-right">NEW</button>
<button type="button" class="btn btn-default pull-right">EXIT</button>
<div class="clearfix"></div>
<div class="divider"></div>





