@{
    ViewBag.Title = "Graphic";
}
<h2>Graphic</h2>
<div id="grafico" style="height: 250px;"></div>

<script>
    $(document).ready(function () {
        $.getJSON('/Risk/pintaGrafico',
           function (data) {
               Morris.Line({
                   element: 'grafico',
                   data: data,
                   xkey: 'year',
                   ykeys: ['value'],
                   labels: ['value']
               });
           }
        );

    })
</script>