@model Risk.ViewModels.OperationalAndReputationalVM



<!-- OPERATIONAL IMPACT -->
<!-- TITLE & BUTTONS -->
@*<span class="title">DATA SHEET</span>*@

<form id="miForm">
    <div id="botonera" class="pull-right">
        <input type="button" class="btn btn-primary" name="BtnDelete" value="DELETE" id="BtnDelete" />
        <a href="@Url.Action("RiskFicha", "Risk", new { id = 0 })" class="btn btn-primary">NEW</a>
        <input type="button" class="btn btn-primary" name="BtnSave" value="SAVE" id="BtnSave" />
    </div>

    <div class="clearfix"></div>
    <div class="divider"></div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <br />

            <!-- COLUMNA IZQUIERDA-->
            <div class="col-lg-4 col-md-4">
                <div class="row" style="background-color:#eaf7fa">
                    <div id="tablaSuperior" class="divDelGrid table-responsive" style="width:100%;height:250px">
                        @Html.Partial("~/Views/PartialViews/TablaDatos.cshtml", Model.datosTablaSuperior)
                    </div>
                </div>
                <br />
                <div class="row" style="background-color:#eaf7fa">
                    <div id="tablaInferior" class="divDelGrid table-responsive" style="width:100%;height:250px">
                        @Html.Partial("~/Views/PartialViews/TablaDatos.cshtml", Model.datosTablaInferior)
                    </div>
                </div>
            </div>


            <!-- COLUMNA CENTRAL AYUDA-->
            <div class="col-lg-1 col-md-1">
                <input type="button" value="?" />
            </div>

            <!-- COLUMNA DERECHA-->
            <div class="col-lg-7 col-md-7">
                @* DROPDOWN EVALUACION *@
                <div id="evaluation" style="background-color:#eaf7fa" class="row">
                    <div class="col-lg-12 col-md-12">
                        <span class="form-left-label">Evaluation</span>
                        <select class="form-control w100" campos="campos" id="idEvaluation">
                            <option value="" selected>Prueba</option>
                        </select>
                    </div>
                </div>
                <br />
                <div id="Justification" style="background-color:#eaf7fa" class="row">
                    <div class="col-lg-12 col-md-12">
                        <span class="form-left-label">Impact Justification</span><br/>
                        <textarea rows="20" cols="80"/>
                    </div>
                </div>

 
        </div>
    </div>
</div>


</form>

<script>
    $(document).ready(function () {

        // Cambio de nombre de las tablas por defecto (TablaDatos.cshtml) para que sean distintos
        $('#tablaSuperior table').attr('id', 'tablaSuperior');
        $('#tablaInferior table').attr('id', 'tablaInferior');

        // Asignacion de las tablas a 'DataTable' para poder usar sus metodos
        var tablaSuperior = $('table[id=tablaSuperior]').DataTable({
            scrollY:250,
            scrollX: true,
            scrollCollapse: true,
            "bPaginate": false,
            "bFilter": false,
            "bInfo": false,
            retrieve: true
        })


        var tablaInferior = $('table[id=tablaInferior]').DataTable({
            scrollY: 250,
            scrollX: true,
            scrollCollapse: true,
            "bPaginate": false,
            "bFilter": false,
            "bInfo": false,
            retrieve: true
        })


        // Evento para seleccionar filas de las tablas
        $('#tablaSuperior tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $('#tablaSuperior tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $('#tablaInferior tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $('#tablaInferior tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });


    })



</script>


<script type="text/javascript" src="~/Content/js/botoneraPartials.js"></script>
<script type="text/javascript" src="~/Content/js/scripts2.js"></script>