@using Risk.Models
@{
    ViewBag.Title = "RiskFicha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    qRiesgosNombre riesgoRecup = (Risk.Models.qRiesgosNombre)ViewBag.riesgoRecup;
}

<style>
    #menu li {
        display: block;
        margin-right: 5%;
    }

    h4 a:focus {
        font-weight: bold;
    }

    h4 a:link {
        color: #64c5da;
        text-decoration: none;
    }
</style>

<!-- MAIN CONTENT -->
<!-- TITLE & SUBTITLE -->
<h2>RISK FICHA</h2>
<h3 class="darker"><strong>@riesgoRecup.CodRiesgo</strong></h3>


<input id="IdRiesgo" type="hidden" value="@riesgoRecup.IdRiesgo" />

<div id="menu">
    <hr />
    <ul class="nav nav-pills">
        <li><h4><a class="menuRisk" id="General" href="#">General</a></h4></li>
        <li><h4><a class="menuRisk" id="OperationalImpact" href="#">Operational Impact</a></h4></li>
        <li><h4><a class="menuRisk" id="ReputationalImpact" href="#">Reputational Impact</a></h4></li>
        <li><h4><a class="menuRisk" id="Scoope" href="#">Scoope</a></h4></li>
        <li><h4><a class="menuRisk" id="Historical" href="#">Historical</a></h4></li>
        <li><h4><a class="menuRisk" id="Graphic" href="#">Graphic</a></h4></li>
    </ul>
    <hr />

</div>


<!-- GENERAL DATA OF RISK -->
<div class="panel">
    <div class="panel-body">
        <!-- TITLE & ATTRIBUTES -->
        <span class="title">GENERAL DATA RISK</span>
        <div class="clearfix"></div>
        <div class="divider"></div>

        <!-- FORM -->
        <div class="row">

            <!-- COLUMN LEFT -->
            <div class="col-lg-6 col-md-8">

                <!-- DIVIDER -->
                <div class="divider-30"></div>

                <!-- ROW BP -->
                <div class="row no-field">
                    <div class="col-lg-3 col-md-4">
                        <span class="form-left-label"><b>NAME</b></span>
                    </div>

                    <div class="col-lg-9 col-md-8">
                        <span>@riesgoRecup.Nombre</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div id="partialViewsRisk" class="panel-body">
    </div>
</div>




