@model Risk.Models.qIndicadores
@{
    ViewBag.Title = "KrisFicha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KrisFicha</h2>

<h3 class="darker"><strong>@Model.CodIndicador</strong></h3>
<input id="IdIndicador" type="hidden" value="@Model.IdIndicador" />

<!-- GENERAL DATA OF RISK -->
<div class="panel">
    <div class="panel-body">
        <!-- TITLE & ATTRIBUTES -->
        <span class="title">GENERAL KRIS INDICATOR</span>
        <div class="clearfix"></div>
        <div class="divider"></div>
    </div>
</div>



<div class="panel">
    <div id="partialViewsRisk" class="panel-body">
        <!-- TABS -->
        <div id="Menu">
            <ul class="nav nav-tabs" id="mnu">
                <li class="active">
                    <a aria-expanded="true" id="mnu_Main" data-toggle="tab" href="#">Main</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Scoope" data-toggle="tab" href="#">Scoope</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Archive" data-toggle="tab" href="#">Archive</a>
                </li>
            </ul>
            <hr />
        </div> <!-- END TABS -->
        <div id="contenidoDinamico">
        </div>
    </div>
</div>

<script>

        $(document).ready(function () {
            $('#Menu li').removeClass('disabled');
            var ruta = "http://localhost:1525/KRIS/Main/";

            $('#contenidoDinamico').load(ruta, { "id": $('#IdIndicador').val() });
        })
</script>

<script type="text/javascript" src="~/Content/js/botoneraPartials.js"></script>
<script type="text/javascript" src="~/Content/js/scripts2.js"></script>