@*@model List<Risk.Models.qEstructura_Contenidos_Def>*@
<div class="row">
    <div class="col-lg-12 col-md-12">
        <span class="form-left-label">Department</span>
    </div>
   
    <div class="col-lg-12 col-md-12">
        @*@Html.TextAreaFor(model => model.Where(r=>r.Titulo == "Department"),2,117, new { @class = "form-control w100"})*@
        <textarea rows="2" cols="117"/>
    </div>

    <div class="col-lg-12 col-md-12">
        <span class="form-left-label">Responsible</span>
    </div>

    <div class="col-lg-12 col-md-12">
        <textarea rows="2" cols="117" />
    </div>

    <div class="col-lg-12 col-md-12">
        <span class="form-left-label">Activities</span>
    </div>

    <div class="col-lg-12 col-md-12">
        <textarea rows="2" cols="117" />
    </div>

    <div class="col-lg-12 col-md-12">
        <span class="form-left-label">IT Assets</span>
    </div>

    <div class="col-lg-12 col-md-12">
        <textarea rows="2" cols="117" />
    </div>

    <div class="col-lg-12 col-md-12">
        <span class="form-left-label">Controls</span>
    </div>

    <div class="col-lg-12 col-md-12">
        <textarea rows="2" cols="117" />
    </div>
</div>
