@model Risk.Models.DatosTablaModel

<div id="tablaRiesgosDiv" class="divDelGrid center-block table-responsive" style="width:95%">
    @Html.Partial("~/Views/PartialViews/TablaDatos.cshtml", Model)


    @*@{ if (Model.breadcrumbSearch != null)
        {


        }
        else
        {
            @Html.Partial("~/Views/PartialViews/TablaDatos.cshtml", Model.datosTabla)
        }*@




</div>