@{
    Dictionary<int, List<object>> datos = (Dictionary<int, List<object>>)TempData["datostbody"];
    Dictionary<string,string> datostHead = (Dictionary<string, string>)ViewBag.datosthead;
}


<!-- SCRIPTS -->

<script type="text/javascript" src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery/jquery.browser.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery/jquery.easing.1.3.js"></script>

<script type="text/javascript" src="~/Content/datetables/jquery.dataTables.min.js"></script>



<!-- TITLE & BUTTONS -->
<span class="title bigger">INSTANCES SEARCH</span>
<div class="clearfix"></div>
<div class="divider"></div>



<!-- RESULTS TABLE -->
<div>
    <div>

        <!-- DIVIDER -->
        <div class="divider-30"></div>

        <!-- TABLE DIV -->

    </div>

    <div>
        <div>

            <table id="tablaDatos" >
                <thead>
                    <tr>
                        @{

                            <td text-align="right">
                              Editar 
                            </td>
                            var count = 0;
                            foreach (var item in datostHead)
                            {
                                <th>@item.Value.ToString()</th>
                            }
                            count++;
                        }
                    </tr>

                </thead>
                <tbody>

                    @{
                        foreach (var fila in datos)
                        {
                            <tr>
                                @{
                                    <td text-align="right">
                                        <a href="@Url.Action("RiskFicha", "Risk", new { id= fila.Key}) " id="@fila.Key"><i class="glyphicon glyphicon-pencil"></i></a>
                                    </td>

                                    foreach (var columna in fila.Value)
                                    {
                                        <td>@columna.ToString()</td>

                                    }
                                

                                }
                            </tr>

                                    }
                    }




                    @*<tr>
                            <td colspan="7" style="text-align: center;">

                                 PAGINATION
                                <ul class="pagination pagination-sm">
                                    <li class="disabled">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Page$2')">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>

                            </td>
                        </tr>*@
                </tbody>
            </table>

        </div>
    </div> <!-- END TABLE DIV -->


</div> <!-- END RESULTS TABLE -->
<script>



    $(document).ready(function () {

        $('#tablaDatos').DataTable( )

    });
</script>