
<!-- SCRIPTS -->
<script type="text/javascript" src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery/jquery.browser.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="~/Content/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Content/js/bootstrap/bootstrap-metis.menu.min.js"></script>
<script type="text/javascript" src="~/Content/js/bootstrap/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/Content/js/mdetect/mdetect.js"></script>
<script type="text/javascript" src="~/Content/js/fastclick/fastclick.js"></script>
<script type="text/javascript" src="~/Content/js/scripts.js"></script>
<script type="text/javascript" src="~/Content/js/scripts2.js"></script>
<script type="text/javascript" src="~/Content/datetables/jquery.dataTables.min.js"></script>



<!-- TITLE & BUTTONS -->
<span class="title bigger">INSTANCES SEARCH</span>
<span class="pull-right" id="ContentPlaceHolder1_lblNRows">Results: <strong class="darker">XX</strong></span>
<div class="clearfix"></div>
<div class="divider"></div>

