
<!-- SCRIPTS -->
<script type="text/javascript" src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery/jquery.browser.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="~/Content/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Content/js/bootstrap/bootstrap-metis.menu.min.js"></script>
<script type="text/javascript" src="~/Content/js/bootstrap/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/Content/js/mdetect/mdetect.js"></script>
<script type="text/javascript" src="~/Content/js/fastclick/fastclick.js"></script>
<script type="text/javascript" src="~/Content/js/scripts.js"></script>
<script type="text/javascript" src="~/Content/js/scripts2.js"></script>
<script type="text/javascript" src="~/Content/datetables/jquery.dataTables.min.js"></script>



<!-- TITLE & BUTTONS -->
<span class="title bigger">INSTANCES SEARCH</span>
<span class="pull-right" id="ContentPlaceHolder1_lblNRows">Results: <strong class="darker">XX</strong></span>
<div class="clearfix"></div>
<div class="divider"></div>

<!-- RESULTS TABLE -->
<div class="row">
    <div class="col-lg-12 col-md-12">

        <!-- DIVIDER -->
        <div class="divider-30"></div>

        <!-- TABLE DIV -->
        <div id="ContentPlaceHolder1_UpdatePanel1">
            <div class="divDelGrid table-responsive">

                <table rules="rows" id="ContentPlaceHolder1_Grid_List_Instances" class="table">
                    <tbody>
                        <tr>
                            <th class="td-large"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Sort$BP_Name')">BP_NAME</a></th>
                            <th class="td-large"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Sort$BP_Group')">BP_GROUP</a></th>
                            <th><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Sort$BP_Number')">BP_NUMBER</a></th>
                            <th><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Sort$Date_Rating')">DATE_RATING</a></th>
                            <th><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Sort$Status')">STATUS</a></th>
                            <th class="td-large"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Sort$Model')">MODEL</a></th>
                            <th style="text-align: right;">EDIT</th>
                        </tr>
                        <tr>
                            <td class="td-large">Chemical &amp; Allied Industries</td>
                            <td class="td-large">WG Wearne Limited</td>
                            <td>1000042744</td>
                            <td>19/11/2015</td>
                            <td>Live</td>
                            <td class="td-large">Project Finance (2)</td>
                            <td style="text-align: right;"><input src="images/shared/edit.png" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Select$0');return false;" type="image"></td>
                        </tr>
                        <tr>
                            <td class="td-large">Agro Industries</td>
                            <td class="td-large">At Source Handmade Foods (Pty) Ltd</td>
                            <td>1000044264</td>
                            <td>02/11/2015</td>
                            <td>Dead</td>
                            <td class="td-large">Small and Medium Enterprises (1)</td>
                            <td style="text-align: right;"><input src="images/shared/edit.png" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Select$1');return false;" type="image"></td>
                        </tr>
                        <tr>
                            <td class="td-large">Agro Industries</td>
                            <td class="td-large">At Source Handmade Foods (Pty) Ltd</td>
                            <td>1000044264</td>
                            <td>02/11/2015</td>
                            <td>Testing</td>
                            <td class="td-large">Small and Medium Enterprises (1)</td>
                            <td style="text-align: right;"><input src="images/shared/edit.png" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Select$2');return false;" type="image"></td>
                        </tr>
                        <tr>
                            <td class="td-large">Metal, Transport &amp; Machinery Products</td>
                            <td class="td-large">Zealous Pressure Casting (Pty) Ltd</td>
                            <td>1000000670</td>
                            <td>23/10/2015</td>
                            <td>Live</td>
                            <td class="td-large">Project Finance (2)</td>
                            <td style="text-align: right;"><input src="images/shared/edit.png" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Select$3');return false;" type="image"></td>
                        </tr>
                        <tr>
                            <td class="td-large">Chemical &amp; Allied Industries</td>
                            <td class="td-large">Mpact Polymers (Pty) Ltd Mpact Polymers</td>
                            <td>1000058484</td>
                            <td>23/10/2015</td>
                            <td>Quarantined</td>
                            <td class="td-large">Small and Medium Enterprises (1)</td>
                            <td style="text-align: right;"><input src="images/shared/edit.png" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Select$4');return false;" type="image"></td>
                        </tr>
                        <tr>
                            <td class="td-large">Chemical &amp; Allied Industries</td>
                            <td class="td-large">Paper Cake Trading 115 CC ta Mak Plastics</td>
                            <td>1000019836</td>
                            <td>23/10/2015</td>
                            <td>Default</td>
                            <td class="td-large">Small and Medium Enterprises (1)</td>
                            <td style="text-align: right;"><input src="images/shared/edit.png" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Select$5');return false;" type="image"></td>
                        </tr>
                        <tr>
                            <td class="td-large">Healthcare</td>
                            <td class="td-large">Health Pops CC TA Own Brand</td>
                            <td>1000027109</td>
                            <td>23/10/2015</td>
                            <td>Live</td>
                            <td class="td-large">Small and Medium Enterprises (1)</td>
                            <td style="text-align: right;"><input src="images/shared/edit.png" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Select$6');return false;" type="image"></td>
                        </tr>
                        <tr>
                            <td class="td-large">Chemical &amp; Allied Industries</td>
                            <td class="td-large">Mpact Polymers (Pty) Ltd Mpact Polymers</td>
                            <td>1000058484</td>
                            <td>23/10/2015</td>
                            <td>Live</td>
                            <td class="td-large">Small and Medium Enterprises (1)</td>
                            <td style="text-align: right;"><input src="images/shared/edit.png" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Select$7');return false;" type="image"></td>
                        </tr>
                        <tr>
                            <td class="td-large">Chemical &amp; Allied Industries</td>
                            <td class="td-large">Paper Cake Trading 115 CC ta Mak Plastics</td>
                            <td>1000019836</td>
                            <td>05/10/2015</td>
                            <td>Dead</td>
                            <td class="td-large">Project Finance (2)</td>
                            <td style="text-align: right;"><input src="images/shared/edit.png" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Select$8');return false;" type="image"></td>
                        </tr>
                        <tr>
                            <td class="td-large">Chemical &amp; Allied Industries</td>
                            <td class="td-large">Mpact Polymers (Pty) Ltd Mpact Polymers</td>
                            <td>1000058484</td>
                            <td>04/10/2015</td>
                            <td>Closed</td>
                            <td class="td-large">Small and Medium Enterprises (1)</td>
                            <td style="text-align: right;"><input src="images/shared/edit.png" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Select$9');return false;" type="image"></td>
                        </tr>
                        @*<tr>
                            <td colspan="7" style="text-align: center;">

                                 PAGINATION 
                                <ul class="pagination pagination-sm">
                                    <li class="disabled">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Grid_List_Instances','Page$2')">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>

                            </td>
                        </tr>*@
                    </tbody>
                </table>

            </div>
        </div> <!-- END TABLE DIV -->

    </div>
</div> <!-- END RESULTS TABLE -->
