@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

<div id="botonera" class="pull-right">
    @*<input type="button" class="btn btn-primary" name="BtnDelete" value="DELETE" id="BtnDelete" />*@
    <a href="@Url.Action("GeneraReport", "Reports")" class="btn btn-primary">HAZ PDF</a>
</div>

